:root {
  --primary: #00bb38;
  --secondary: #db7e03;
  --tertiary: #4da5c0;
  --light: #fafafa;
  --dark: #272f32;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: var(--dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
  margin: 5px 0;
  line-height: 1.25;
}

h1 {
  font-size: 2.25rem;
}

/* h2 {
  font-size: 2rem;
} */

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1.0rem;
  margin-top: 0;
}

a {
  color: var(--tertiary);
  text-decoration: none;
  font-weight: bold;
}

.list-child{
  text-align: right;
} 

.list {
  list-style-type: none;
  text-align: right;
}

a:hover {
  transform: scale(1.1)
}

header {
  background: white;
}

header a {
  color: black;
  margin-top: 40px;
  font-size: larger;
  z-index: 3;
  position:relative;
}

header a:hover {
  color:black;
  text-decoration: none;
}

.container {
  width: 70%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  background-color: rgb(255 255 255);
}

.nav-container {
  background-color: rgb(255, 182, 86);
  height: 150px;
  z-index: 9999;
  position:relative;
  border-bottom: 10px solid rgb(0, 0, 0);
}

.inner-nav-container{
  width: 100%;
}

.inner-nav {
  height: 65px;
}

.nav-text  {
  margin-top: 20px;
}

.nav-pawprints {
  width: 100px;
  height: 100px;
  margin-left: -20px;
  background-color: rgb(1, 153, 255);
  border-radius: 1000px;
  box-shadow: 1px 1px 1px 1px #080808;
}

.nav-lizard {
  width: 100px;
  height: 100px;
  margin-top: -56px;
  margin-left: -350px;
  background-color: rgb(255, 186, 96);
  z-index: 1;
  position:relative;
  border-radius: 1000px;
}

.right-col {
  justify-content: right;
}

.nav-items {
  margin-top: 100px;
}

.dropdown {
  background: rgba(233, 17, 17, 0);
  margin-left: 120px;
  border:0px  none;
}

.dropdown:hover {
  color: #000;
  background-color: transparent;
  text-decoration: none;
}

.dropdown-menu.show {
  background-color: rgb(248 187 97);
  display: block;
  border-color: black;
  border-width: 5px;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  display: block;
  width: 100%;
  padding: .25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #030303;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  transform: scale(1.04);
  border: 0;
}

.products-btn {
  background-color: transparent; 
  color: white;
  border: none;
}

.btn-light:hover {
  color: #000;
  background-color: transparent;
  text-decoration: none;
  transform: scale(1.05);
}

.btn:hover {
  transform: scale(1.05)
}

.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:focus {
  color: #fff;
  background-color: #636363;
  border-color: #ffffff;
  box-shadow: 0 0 0 0.25rem rgb(49 132 253 / 50%);
}

.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
}

.cart-btn {
  width: 500px;
  margin: auto;
  margin-top: 60px;
  background-color: transparent;
  border: none;
}

.cart-btn:hover {
  transform: scale(1.05)
}

.cart {
  width: 500px;
  margin: auto;
  margin-top: 60px;
  border-width: 2px;
  border-color:black;
  border-style: solid;
  border-radius: 6px;
}

.cart h2 {
  text-align: center;
}

.cart span {
  margin-right: 10px;
}

.cart span:hover {
  transform: none;
}

/* button {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.25rem 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--secondary);
} */

/* button:hover {
  opacity: .8;
}

button[disabled] {
  cursor: default;
  opacity: .8;
} */

.card {
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  text-align: center;
  color:rgba(0, 0, 0, 0.5);
  justify-content: center;
  font-size: 20px;
  margin: auto;
  border: none;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  margin-top: -20px;
  margin: auto;
}

.card-body:hover {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  margin-top: -20px;
  transform: scale(1.05);
}

.card-title {
  margin-bottom: .5rem;
}

.product-link:hover {
  text-decoration: none;
  transform: scale(1.1);
}

.carousel {
  height: 850px;
  width: 100%;
  margin: auto;
  background-color: rgba(224, 217, 201, 0.5);
  border-radius: 5px;
  opacity: 1;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: visible;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4%;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .2;
    transition: opacity 3s cubic-bezier(0.4, 0, 1, 1);
}

.carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
  background-color: rgb(194, 194, 194);
  text-decoration: none;
  outline: 0;
  opacity: .3;
}

.carousel-item img {
  margin-top: 445px;
  height: 500px;
  width: 600px;
  opacity: 1;
}

.cat-img {
  height: 250px;
  width: 260px;
}

.carousel-caption{
  color: black;
  margin-bottom: -135px;
  position: absolute;
  right: 15%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-item {
  height: 650px;
}

.carousel-caption h3{
  color: rgb(0, 0, 0);
  
}

.carousel-caption p{
  color: rgb(0, 0, 0);
  font-size: 1rem;

}

.addtocart-btn,
.register-btn,
.login-btn {
  color: black;
  background-color: rgb(255, 193, 100);
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
}

.addtocart-btn:hover {
  color: black;
  background-color: rgb(255, 193, 100);
  border-width: 3px;
  border-color: black;
  border-radius: 20px;
  transform: scale(1.05);
  box-shadow: .5px .5px .5px .5px #c0c0c0;
}

.transparent {
  border: .1px solid transparent;
}

.home-product-col {
  width: 50%;
}

.home-product-cards {
  width: 50%;
  height: 220px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  font-size: 20px;
  margin: auto;
  background-color: white;
  border: none;
  box-shadow: 10px 10px 20px #c7c7c7;
}

/* .img {
  width: 100%;
  opacity: .7;
  border-radius: 1000px;
  margin: auto;
  margin-top: 30px;
} */

.about-img {
  width: 75%;
  opacity: .7;
  border-radius: 1000px;
  border: 2px solid rgb(0, 0, 0);
  margin: auto;
  margin-top: 30px;
}

.about-head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
}

.about-text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.footer-card{
  background-color: white;
  color: black;
  height: 60px;
}

span[role="img"] {
  cursor: default;
}

form {
  width: 20%;
  justify-content: center;
  margin: auto;
  margin-top: 130px;
}

.login-signup-form {
  justify-content: center;
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid #000000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* .col {
  width: 50%;
} */

/* .product-page-col {
  width: 25%;
} */

.category-menu {
  margin-top: 100px;
  width: 200%;
}

.category-menu image{
  height: 60px;
  width: 50px;
}

.rounded-circle {
  border-radius: 81%!important;
  width: 150px;
  height: 150px;
  border-width: 5px;
  border-color: #000000;
  border-style: solid;
  margin-bottom: 50px;
  margin-left: 115px;
}

.prod-g-4, .prod-gx-4 {
  --bs-gutter-x: 1.5rem;
}
.prod-g-4, .prod-gy-4 {
  --bs-gutter-y: 9.5rem;
  margin-top: -101px;
  margin-bottom: 200px;
}

.products-container-text h2 {
  color: black;
}

.product-page-img {
  width: 100%;
  border-radius: 1000px;
  margin: auto;
  margin-top: 30px;
}

.product-card-h2{
  color:black;
}


/* .card {
  width: 75%;
  height: 280px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  font-size: 20px;
  margin-left: 100px;
  margin-bottom: 50px;
} */

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  margin-top: 100px;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
  text-align: center;
}

.col-6 {
  flex: 0 0 auto;
  width: 41%;
}

.g-4, .gy-4 {
  --bs-gutter-y: 10.5rem;
  margin-top: -120px;
}
.g-4, .gx-4 {
  --bs-gutter-x: 22.5rem;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: 8.5rem!important;
  margin-bottom: .5rem!important;
}

.px-1 {
  padding-right: var(--spacing-one);
  padding-left: var(--spacing-one);
}

.px-2 {
  padding-right: var(--spacing-two);
  padding-left: var(--spacing-two);
}

.py-1 {
  padding-top: var(--spacing-one);
  padding-bottom: var(--spacing-one);
}

.py-2 {
  padding-top: var(--spacing-two);
  padding-bottom: var(--spacing-two);
}

.error-text {
  color: var(--error);
}

@media screen and (max-width: 768px) {
  .card {
    width: 100%;
  }
}